.main{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    height: 550px ;
    width: 400px;
    background-color: rgb(78, 78, 233);
    color: white;
}
.screen{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    height: 100px;
    background-color: black;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 90px;
    background-color: rgb(152, 225, 244);
    margin-top: 20px;
    margin-left: 30px;
    font:  25px din-2014,sans-serif;
}

  